#To avoid uploading huge amount of data.
*.asv
*.mat
*.bag
*.ply
*.pcap
MATLAB Code/velo_101017.fig
MATLAB Code/Velo2Fig.fig
MATLAB Code/vel_1507653439627470.pcd
MATLAB Code/Burchard_Lounge.fig
*.fig
